@font-face {
    font-family: "RmudHNGcmVlLUldCTRlBybRpcBsYXktTWVkaXVtLnRZg";
    src: url("../font/fontsfree-net-sfprodisplay-medium-20240219081708-bmy2-.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Segoe UI', sans-serif;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.custom-close-btn {
    background-image: url("../images/Close.png") !important;
    display: inline-block !important;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
    border: none !important;
    background-color: transparent !important;
}

.loan-estimate{
    color: #999999;
}

.popup-register{
    font-size: 26px !important;
    font-weight: bold !important;
    line-height: 1.6;
    color: rgb(219, 3, 110);
    text-transform: uppercase;
    text-align: center;
}

.grecaptcha-badge {
    visibility: hidden !important;
    opacity: 0;
    pointer-events: none;
}

image {
    overflow: hidden;
}

.banner {
    background-size: cover;
    width: 100%;
}

.company-info {
    background-size: cover;
    width: 100%;
}

.hotline-para {
    font-size: 16px;
    font-weight: bold;
    color: #E7252B;
}

.with-100 {
    width: 100%;
}

.btn-nav_regist {
    width: 160px;
    height: 40px;
    position: absolute;
    border: 1px solid;
    background: red;
    padding: 13px 20px;
    color: #FFF;
    text-decoration: none;
    border-radius: 27px;
}

.navbar-brand img {
    height: 40px;
}

.nav-item > nav-link {
    font-size: 16px;
    font-weight: bold;
}

.regist {
    position: relative;
    background-color: #FBF2F5;
    background-size: cover;
    padding: 1rem 0;
    width: 100%;
}

.footer {
    width: 100%;
    top: 10px;
    padding-bottom: 1rem;
    background-image: url('../images/footer-bg-full.png');
    background-size: cover;
}

.footer-content {
    display: flex;
    flex-direction: column;
    padding-top: 20%;
}

.footer-content_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-content_logo img {
    width: 345.71px;
    height: 54.59px;
}

.footer-content-info {
    color: white;
    margin: 1rem 0;
    font-size: 16px;
    line-height: 1.3;
}

.footer-end {
    position: relative;
    color: white;
    text-align: center;
    line-height: 1.6 !important;
    font-size: 16px !important;
    transition: all 150ms linear 0s !important;
    font-family: 'Segoe UI', sans-serif !important;
    font-weight: 600;
}

body .footer-end {
    font-family: 'Segoe UI', sans-serif !important;
}

.btn-regist-card-yn {
    width: 100%;
    margin-right: 10px;
}

.btn-regist-card-yn-modal {
    width: 100%;
    margin-right: 10px;
}

.cards {
    width: 100%;
    position: relative;
}

.cards .cards-img {
    position: relative;
}

.cards-item-img {
    position: absolute;
    width: 30%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cards-item-img-rotation {
    position: absolute;
    width: 53%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.cards-item_para__title {
    font-size: 21px;
    color: #E7252B;
    font-weight: bold;
}

.footer-bottom {
    margin-top: -65px;
}

.noti-message {
    font-size: 13px !important;
    line-height: 1.6;
    text-align: center;
    white-space: pre-line;
}

@media (max-width: 767px) {

    .carousel-item {
        display: flex;
        justify-content: center;
    }

    .card-loan-process {
        height: 100%;
        display: flex;
    }

    .card-loan-process_body {
        min-height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-customer-comment {
        height: 100%;
        display: flex;
        /*margin-top: 30px !important;*/
    }

    .card-customer-comment_body {
        min-height: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .carousel-inner-cus .row {
        display: flex;
        justify-content: stretch;
    }

    .card-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .centered-box {
        width: 100%;
        margin: 0 auto;
        border-radius: 15px;
        text-align: justify;
    }

    .btn-detail {
        margin-top: -10px;
    }

    .question-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        width: 90% !important;
        margin-left: 20px !important;
    }

    .customer-item {
        left: 6px;
    }

    .btn-register-mobile {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-end .footer-end-desc {
        font-size: 12px;
        position: relative;
        font-weight: 600;
        text-align: center;
        font-family: 'Segoe UI', sans-serif;
    }

    #btn-header-regist {
        display: none;
    }

    #btn-header-regist-mobile {
        display: block;
    }

    #offers {
        display: none;
    }

    #offers-mobile {
        display: block;
    }

    #cards {
        display: none;
    }

    #cards-mobile {
        display: block;
    }

    #customers {
        display: none;
    }

    #customers-mobile {
        display: block;
    }

    .banner {
        background-image: url('../images/banner-mobile.png');
        height: 635px;
    }

    .regist-card_feature {
        width: 100%;
    }

    .regist-card_coin {
        position: absolute;
        background-image: url('../images/coin.png');
        background-size: cover;
        height: 70px;
        width: 78px;
        transform: rotate(15deg);
        left: 5px;
        bottom: 0px;
    }

    .order-mobile {
        order: 1 !important;
        padding: 29px;

    }

    .order-mobile-second {
        order: 2 !important;
    }

    .section-title {
        font-size: 28px;
    }

    .offer-content-item {
        margin-bottom: 10px;
    }

    .cards {
        width: 100%;
    }

    .footer {
        width: 100%;
        background-image: url('../images/footer-bg-full-mobile.png');
        background-size: cover;
        margin-top: 1rem;
    }

    .footer-content_logo img {
        width: 286px;
        height: 46px;
    }

    .footer-content-info .col-md-6 {
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(245, 140, 164);
    }

    .footer-end .footer-end-desc {
        font-size: 12px;
        position: relative;
        font-weight: 600;
        text-align: left;
        font-family: 'Segoe UI', sans-serif;
    }

    #PARAGRAPH163 {
        width: 100%;
        top: 145.285px;
        left: 94px;
    }

    #PARAGRAPH163 > .ladi-paragraph,
    #PARAGRAPH164 > .ladi-paragraph {
        font-size: 16px;
        line-height: 1.3;
        color: rgb(255, 255, 255);
    }

    #PARAGRAPH164 {
        top: 145.285px;
        left: 22.538px;
    }

    #PARAGRAPH164 {
        width: 105px;
    }

    #PARAGRAPH163 > .ladi-paragraph > #website {
        display: none;
    }

    #IMAGE132 {
        top: 347.595px;
        left: 23.538px;
    }

    #IMAGE132,
    #IMAGE132 > .ladi-image > .ladi-image-background {
        width: 122.98px;
        height: 124.184px;
    }

    #IMAGE132 > .ladi-image > .ladi-image-background {
        background-image: url('../images/qrcode.png');
        background-size: cover;
    }

    #IMAGE133 {
        top: 413.905px;
        left: 156.663px;
        width: 184.433px;
        height: 65.026px;
    }

    #IMAGE133 > .ladi-image > .ladi-image-background {
        background-image: url('../images/chplay.png');
        background-size: cover;
        width: 184.433px;
        height: 65.026px;
    }

    #IMAGE134 {
        top: 350.621px;
        left: 154.763px;
        width: 188.234px;
        height: 65.2844px;
    }

    #IMAGE134 > .ladi-image > .ladi-image-background {
        background-image: url('../images/appstore.png');
        background-size: cover;
        width: 188.234px;
        height: 65.2844px;
    }

    #PARAGRAPH165 {
        top: 315.612px;
        left: 26.105px;
        width: 294px;
    }

    #PARAGRAPH165 > .ladi-paragraph {
        font-size: 16px;
        line-height: 1.3;
        color: rgb(255, 255, 255);
    }


    #PARAGRAPH166 {
        top: 536.595px;
        left: 45px;
    }

    #PARAGRAPH166 > .ladi-paragraph {
        font-size: 16px;
        line-height: 1.6;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .regist-card_feature__title {
        font-size: 30px;
        position: absolute;
        top: 26px;
        left: 100px;
    }

    .offer-content-item_comma {
        position: absolute;
        bottom: 42px;
        font-size: 19px;
        left: 222px;
    }

    #PARAGRAPH167 {
        position: absolute;
        top: 577.185px;
        left: 2px;
    }

    #PARAGRAPH167 > .ladi-paragraph {
        font-size: 12px;
        line-height: 1.6;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .loan-product {
        display: none;
    }

    .loan-product-mobile {
        display: block;
    }

    .loan-process-mobile {
        display: block;
    }

    .loan-process {
        display: none;
    }

    .customer-comment-mobile {
        display: block;
    }

    .customer-comment {
        display: none;
    }
    #GROUP89 {
        width: 70px;
        height: 153.163px;
        position: fixed;
        right: 20px;
        bottom: 40px;
        top: auto;
        left: auto;
        z-index: 90000050;
        margin: 0;
    }

    #IMAGE73 > .ladi-image > .ladi-image-background,
    #IMAGE72 > .ladi-image > .ladi-image-background {
        position: relative;
        width: 55px !important;
        height: 55px !important;
        left: 8px;
        top: 8px;
    }
    .form-body {
        display: none !important;
    }

    .register {
        background-color: #ffe0e8;
    }

    .font-title-card-mobile {
        font-size: 1.5rem;
    }

    .center-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .card-border-left span, .card-border-right span {
        white-space: nowrap;
    }

    .form-register {
        max-width: 28rem;
        background-color: #FFF;
        padding: 1.5em;
        border-radius: 10px;
        border-width: 1px 1px 1px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(219, 3, 110);
        position: relative;
        height: 590px;
    }

    .banner {
        background-image: url(../images/banner-mobile.png);
        /*background-size: contain;*/
        background-repeat: no-repeat;
        /*height: 1160px;*/
        width: 100%;
        background-position: center;
    }

    .carousel-control-prev-icon {
        position: relative;
        right: 10px;
    }

    .carousel-control-next-icon {
        position: relative;
        left: 10px;
    }

    company-register-web {
        position: absolute;
        width: 150px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        top: 380px;
        right: 575px;
    }

    .font-footer {
        font-family: 'Segoe UI', sans-serif;
        position: relative;
        text-align: left;
    }

    .font-footer-info {
        position: relative;
        font-weight: 600;
        text-align: left;
        font-size: 13px;
        line-height: 1.3;
        font-family: 'Segoe UI', sans-serif;
        word-wrap: break-word;
        word-break: break-word;
    }

    .font-footer-qr {
        position: relative;
        text-align: left;
    }

    .font-footer-qrs {
        position: relative;
        text-align: left;
    }

    .footer-end .footer-end-desc {
        font-size: 12px;
        position: relative;
        font-weight: 600;
        text-align: center;
        font-family: 'Segoe UI', sans-serif;
    }

    .form-container {
        margin-top: 500px !important;

    }

    #banner-form-web .row {
        padding: 13px;
    }

    #banner-form-web .form-container {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    }

    #banner-form-web .form-container .form-body {
        background-color: #FFF;
        padding: 1.5em;
        border-radius: 10px;
        border-width: 4px 0px 0px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(219, 3, 110);
        position: relative;
        top: -60px;
        /*bottom: 50px;*/
        box-shadow: 0px 1px 0px rgba(219, 3, 110, 0.5);
    }

    .card-loan-process {
        margin-top: 30px !important;
    }

    .question-info {
        font-size: 15px;
        text-decoration: none;
    }

    .icon-collapse {
        display: none;
    }

    .toggle-text::before,
    .toggle-text::after {
        content: " ";
        display: inline-block;
        width: 2rem;
        border-top: 1px solid darkgrey;
        vertical-align: middle;
        margin: 0 10px;
    }

    .loan-simulate {
        padding: 13px;
    }

    .loan-simulate-body {
        border-width: 4px 0px 0px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(219, 3, 110);
    }

    .loan-simulate-right {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -20px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: rgb(255, 236, 238);
        padding: 2em 1em;
        left: 10px;
    }

    #amount-rate-body {
        border: 1px solid;
        width: 10rem;
        float: right;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        border-color: red;
    }

    #month-rate-body {
        border: 1px solid;
        width: 5rem;
        float: right;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        border-color: red;
    }

    #amount-total {
        border: 1px solid red;
        border-style: dashed;
        text-align: center;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 1.3em;
        font-weight: 600;
        background-color: rgb(255 219 219);
        border-radius: 5px;
    }

    #amount-total-warning {
        width: 100%;
        margin: 0 auto;
    }

    .loan-product {
        padding: 13px;
    }

    .loan-process {
        padding: 13px;
    }

    .customer-comment {
        padding: 13px;
    }

    .company-info {
        padding: 13px;
    }

    .question-info {
        padding: 13px;
    }

    .company-info {

        font-size: 20px;
        background-color: #FFE8E8;
    }
}

@media (min-width: 768px) {
    #btn-header-regist {
        display: block;
    }

    #btn-header-regist-mobile {
        display: none;
    }

    #offers-mobile {
        display: none;
    }

    #offers {
        display: block;
    }

    #cards-mobile {
        display: none;
    }

    #cards {
        display: block;
    }

    #customers-mobile {
        display: none;
    }

    #customers {
        display: block;
    }

    .customer-comment-mobile {
        display: none;
    }

    .customer-comment {
        display: block;
    }

    .loan-process-mobile {
        display: none;
    }

    .loan-process {
        display: block;
    }

    .loan-product {
        display: block;
    }

    .loan-product-mobile {
        display: none;
    }

    .banner {
        height: 200px;
        background-image: url('../images/banner.png');
    }

    .company-info {
        height: 460px;
        font-size: 20px;
        background-color: #FFE8E8;
    }

    .container-company-intro {
        position: relative;
        background-image: url(../images/bg-company-intro.png);
        background-size: cover;
        height: 500px;
        top: -40px;
    }

    .bg-regist_left {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: url('../images/regist-bg-left.png');
        background-size: cover;
        height: 792px;
        width: 513px;
    }

    .bg-card_left {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url('../images/card-bg-left.png');
        background-size: cover;
        height: 700px;
        width: 292px;
    }

    .bg-card_right {
        position: absolute;
        right: 0px;
        z-index: -1;
        bottom: 21px;
        background-image: url(../images/card-bg-right.png);
        background-size: cover;
        height: 922px;
        width: 255px;
    }

    .cards-item_para__title {
        font-size: 20px;
    }

    .footer-content {
        padding-top: 25%;
    }

    .footer-content-info {
        height: 240px;
        border-top: 2px solid rgb(245, 140, 164);
        border-bottom: 2px solid rgb(245, 140, 164);
    }

    .footer-content-info .col-md-6:first-child {
        border-right: 2px solid rgb(245, 140, 164);
        position: relative;
        top: -42px;
    }


    .mr-20 {
        margin-right: 20px !important;
    }

    .form-register {
        display: none !important;
    }

    #GROUP89 {
        width: 70px;
        height: 153.163px;
        top: 0px;
        left: auto;
        right: 20px;
        bottom: 0px;
        position: fixed;
        z-index: 90000050;
        margin: auto 0px;
    }
    .font-footer-qr {
        position: relative;
        left: 40px;
    }

    .font-footer-qrs {
        position: relative;
        left: -13px;
    }

    .btn-detail {
        margin-top: -65px;
    }

    .collapseExample {
        position: relative;
        top: 100px;
    }

    .company-register-web {
        position: absolute;
        width: 150px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-align: center;
        top: 380px;
        right: 575px;
    }

    .question-item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        width: 80% !important;
        margin-left: 150px !important;
    }

    .font-footer {
        font-family: 'Segoe UI', sans-serif;
        position: relative;
        text-align: left;
    }

    .font-footer-info {
        position: relative;
        font-weight: 600;
        text-align: left;
        font-size: 16px;
        line-height: 1.3;
        font-family: 'Segoe UI', sans-serif;
    }

    .banner {
        height: 614px;
        background-image: url('../images/banner.png');
        background-position: center;
        background-size: cover;
        position: relative;
    }

    .carousel-control-next-icon {
        position: relative;
        left: 80px;
    }

    .carousel-control-prev-icon {
        position: relative;
        right: 100px;
    }


    #banner-form-web .form-container {
        padding-left: 10em;
        padding-top: 1.5em;
    }

    #banner-form-web .form-container .form-body {
        max-width: 28rem;
        background-color: #FFF;
        padding: 1.5em;
        border-radius: 10px;
        border-width: 4px 0px 0px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(219, 3, 110);
        position: relative;
        left: 3rem;
        height: 570px;
    }

    .loan-simulate-body {
        border-width: 4px 0px 0px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(219, 3, 110);
    }

    .loan-simulate-right {
        position: relative;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 32px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: rgb(255, 236, 238);
        padding: 2em 1em;
        left: 10px;
    }

    .loan-simulate {
        position: relative;
    }

    .bg-loan-simulate {
        position: absolute;
        top: 0px;
        right: 0px;
        background-image: url(../images/mask-group-01.png);
        background-size: cover;
        height: 367px;
        width: 360px;
    }

    #amount-rate-body {
        border: 1px solid;
        width: 50%;
        float: right;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        border-color: red;
    }

    #month-rate-body {
        border: 1px solid;
        width: 6rem;
        float: right;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        border-color: red;
    }

    #amount-total {
        border: 1px solid red;
        border-style: dashed;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding: 10px 20px;
        font-size: 2em;
        font-weight: 600;
        background-color: rgb(255 219 219);
        border-radius: 5px;
    }

    #btn-header-regist {
        display: block;
    }

    #btn-header-regist-mobile {
        display: none;
    }

    #amount-total-warning {
        width: 68%;
        margin: 0 auto;
    }

    .mr-20 {
        margin-right: 20px !important;
    }

    .question-info {
        font-size: 20px;
        text-decoration: none;
    }

    .icon-collapse {
        right: -171px;
        position: absolute;
        display: block;
    }

    .toggle-text::before,
    .toggle-text::after {
        content: " ";
        display: inline-block;
        width: 35%;
        border-top: 1px solid darkgrey;
        vertical-align: middle;
        margin: 0 10px;
    }

    .loan-product {
        position: relative;
    }

    .loan-product-bg {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url(../images/mask-group-02.png);
        background-size: cover;
        height: 40rem;
        width: 10rem;
    }

    .company-info {
        position: relative;
    }

    .company-info-bg-left {
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url(../images/mask-group-03.png);
        background-size: cover;
        height: 17rem;
        width: 30rem;
        z-index: 60;
    }

    .company-info-bg-right {
        position: absolute;
        bottom: 0px;
        right: 0px;
        background-image: url(../images/mask-group-04.png);
        background-size: cover;
        height: 17rem;
        width: 18rem;
        z-index: 60;
    }

    .question-info {
        position: relative;
    }

    .question-info-bg {
        position: absolute;
        top: 42px;
        left: 0px;
        background-image: url(../images/mask-group-05.png);
        background-size: cover;
        height: 27rem;
        width: 17rem;
        z-index: 60;
    }
}

/*@media (min-width: 992px) {*/
/*    #btn-header-regist {*/
/*        display: block;*/
/*    }*/

/*    #btn-header-regist-mobile {*/
/*        display: none;*/
/*    }*/

/*    .cards-item_para__title {*/
/*        font-size: 21px;*/
/*    }*/

/*    #PARAGRAPH167 {*/
/*        position: absolute;*/
/*        top: 390.185px;*/
/*        left: 3px;*/
/*    }*/

/*    #PARAGRAPH167 > .ladi-paragraph {*/
/*        font-size: 16px;*/
/*        line-height: 1.6;*/
/*        color: rgb(255, 255, 255);*/
/*        text-align: center;*/
/*    }*/

/*    .offer-content-item_comma {*/
/*        position: absolute;*/
/*        top: 295px;*/
/*        font-size: 16px;*/
/*        left: 192px;*/
/*    }*/

/*    .nav-item {*/
/*        padding-right: 40px !important;*/
/*    }*/

/*    .banner {*/
/*        background-image: url('../images/banner.png');*/
/*        height: 262px;*/
/*    }*/

/*    .regist-card {*/
/*        margin-left: 71px;*/
/*    }*/

/*    .bg-regist_left {*/
/*        position: absolute;*/
/*        bottom: 0px;*/
/*        left: 0px;*/
/*        background-image: url('../images/regist-bg-left.png');*/
/*        background-size: cover;*/
/*        height: 792px;*/
/*        width: 513px;*/
/*    }*/

/*    .bg-regist_right {*/
/*        position: absolute;*/
/*        top: 0px;*/
/*        right: 0px;*/
/*        background-image: url('../images/regist-bg-right.png');*/
/*        background-size: cover;*/
/*        height: 367px;*/
/*        width: 360px;*/
/*    }*/

/*    .regist-card_feature__title {*/
/*        font-size: 30px;*/
/*        position: absolute;*/
/*        top: 30px;*/
/*        left: 165px;*/
/*    }*/

/*    .regist-card_coin {*/
/*        position: absolute;*/
/*        background-image: url('../images/coin.png');*/
/*        background-size: cover;*/
/*        height: 70px;*/
/*        width: 78px;*/
/*        transform: rotate(15deg);*/
/*        left: -4px;*/
/*        bottom: 0px;*/
/*    }*/

/*    .regist-form {*/
/*        margin-left: 25px;*/
/*    }*/

/*    .bg-offer_right {*/
/*        position: absolute;*/
/*        top: -165px;*/
/*        right: 0px;*/
/*        background-image: url('../images/offer-bg-right.png');*/
/*        background-size: cover;*/
/*        height: 905px;*/
/*        width: 264px;*/
/*    }*/

/*    .section-title {*/
/*        font-size: 32px;*/
/*    }*/

/*    .cards {*/
/*        width: 100%;*/
/*        position: relative;*/
/*    }*/

/*    .bg-card_left {*/
/*        position: absolute;*/
/*        top: 0px;*/
/*        left: 0px;*/
/*        background-image: url('../images/card-bg-left.png');*/
/*        background-size: cover;*/
/*        height: 700px;*/
/*        width: 292px;*/
/*    }*/

/*    .bg-card_right {*/
/*        position: absolute;*/
/*        right: 0px;*/
/*        z-index: -1;*/
/*        bottom: 21px;*/
/*        background-image: url(../images/card-bg-right.png);*/
/*        background-size: cover;*/
/*        height: 922px;*/
/*        width: 255px;*/
/*    }*/

/*    .footer-content {*/
/*        padding-top: 18%;*/
/*    }*/

/*    .footer-content-info {*/
/*        height: 180px;*/
/*        border-top: 2px solid rgb(245, 140, 164);*/
/*        border-bottom: 2px solid rgb(245, 140, 164);*/
/*        position: relative;*/
/*        top: 15px;*/
/*    }*/

/*    .footer-content-info .col-md-6:first-child {*/
/*        border-right: 2px solid rgb(245, 140, 164);*/
/*    }*/

/*    .ladi-line .ladi-line-container {*/
/*        border-bottom: 0 !important;*/
/*        border-right: 0 !important;*/
/*        width: 100%;*/
/*        height: 100%;*/
/*    }*/

/*    #PARAGRAPH163 {*/
/*        width: 410px;*/
/*        top: 149.685px;*/
/*        left: 82px;*/
/*    }*/

/*    #PARAGRAPH163 > .ladi-paragraph {*/
/*        font-size: 16px;*/
/*        line-height: 1.3;*/
/*        color: rgb(255, 255, 255);*/
/*    }*/

/*    #PARAGRAPH164,*/
/*    #PARAGRAPH169 {*/
/*        width: 105px;*/
/*        top: 149.685px;*/
/*        left: 0px;*/
/*    }*/

/*    #PARAGRAPH164 > .ladi-paragraph {*/
/*        font-size: 16px;*/
/*        line-height: 1.3;*/
/*        color: rgb(255, 255, 255);*/
/*    }*/

/*    #PARAGRAPH165 {*/
/*        width: 294px;*/
/*    }*/

/*    #PARAGRAPH165 {*/
/*        top: 149.685px;*/
/*        left: 772.433px;*/
/*    }*/

/*    #PARAGRAPH165 > .ladi-paragraph {*/
/*        font-size: 16px;*/
/*        line-height: 1.3;*/
/*        color: rgb(255, 255, 255);*/
/*    }*/

/*    #IMAGE132 {*/
/*        top: 181.685px;*/
/*        left: 772.433px;*/
/*        width: 113.884px;*/
/*        height: 115px;*/
/*    }*/

/*    #IMAGE132 > .ladi-image > .ladi-image-background {*/
/*        background-image: url('../images/qrcode.png');*/
/*        width: 113.884px;*/
/*        height: 115px;*/
/*        background-size: cover;*/
/*    }*/

/*    #IMAGE133 {*/
/*        top: 238.659px;*/
/*        left: 887.212px;*/
/*        width: 184.433px;*/
/*        height: 65.026px;*/
/*    }*/

/*    #IMAGE133 > .ladi-image > .ladi-image-background,*/
/*    #IMAGE138 > .ladi-image > .ladi-image-background {*/
/*        background-image: url('../images/chplay.png');*/
/*        background-size: cover;*/
/*        width: 184.433px;*/
/*        height: 65.026px;*/
/*    }*/

/*    #IMAGE134 {*/
/*        top: 181.685px;*/
/*        left: 886.317px;*/
/*        width: 188.234px;*/
/*        height: 65.2844px;*/
/*    }*/

/*    #IMAGE134 > .ladi-image > .ladi-image-background {*/
/*        background-image: url('../images/appstore.png');*/
/*        background-size: cover;*/
/*        width: 188.234px;*/
/*        height: 65.2844px;*/
/*    }*/

/*    #PARAGRAPH166 {*/
/*        top: 363.185px;*/
/*        left: 400px;*/
/*        width: 400px;*/
/*    }*/

/*    #PARAGRAPH166 > .ladi-paragraph {*/
/*        font-size: 16px;*/
/*        line-height: 1.6;*/
/*        color: rgb(255, 255, 255);*/
/*        text-align: center;*/
/*    }*/


/*}*/


.ladi-transition {
    transition: all 150ms linear 0s;
}

.ladi-paragraph {
    width: 100%;
    display: inline-block;
    word-break: break-word;
}

.ladi-line {
    position: relative;
}

.ladi-element {
    position: absolute;
}

.ladi-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.position-relative {
    position: relative !important;
}

.regist-card {
    height: 320px;
    /* width: 400px; */
    width: 100%;
    position: relative;
}

.regist-card_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.regist-card_feature {
    width: 740px;
    height: 290px;
}

.regist-card_feature__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 40px;
    left: 10px;
}

.btn-card_regist {
    border: 1px solid;
    background: #E7252B;
    padding: 13px 20px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 27px;
}

.btn-card_regist-mobile {
    border: 1px solid;
    background: #E7252B;
    padding: 8px 35px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 27px;
}

.btn-card_regist-loan-product {
    border: 1px solid;
    background: #E7252B;
    padding: 13px 35px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 27px;
}

.btn-card_regist-loan-product-mobile {
    border: 1px solid;
    background: #E7252B;
    padding: 13px 5rem;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 27px;
}

.regist-form_content {
    margin: 0 auto;
    border-width: 4px 0px 0px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(219, 3, 110);
    background-color: #FFF;
}

.regist-form_content__title {
    font-size: 26px;
    font-weight: bold;
    color: rgb(219, 3, 110);
}

.button-gardient {
    background: linear-gradient(to right, #ff0000, #800080);
    color: #fff !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-color: none !important;
    border-radius: 0.5rem !important;
    padding: 0.7rem 0.9rem !important;
    font-weight: bold !important;
}

.offers {
    position: relative;
    background-color: #FFF;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
}

.section-title {
    font-weight: bold;
}

.section-title_line {
    width: 83px;
    height: 5px;
    background: red;
    color: red;
    opacity: 1 !important;
}


.cards-item_para__list li {
    padding-bottom: 8px;
}


#GROUP87,
#IMAGE73,
#IMAGE73 > .ladi-image > .ladi-image-background,
#GROUP88,
#IMAGE72,
#IMAGE72 > .ladi-image > .ladi-image-background {
    width: 70px;
    height: 70px;
}

#GROUP88 {
    top: 83.163px;
    left: 0px;
}

#IMAGE75.ladi-animation > .ladi-image {
    animation-name: tada;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#IMAGE75 > .ladi-image > .ladi-image-background {
    background-image: url('../images/group-5-20240216094840-1ksqd.png');
    background-size: cover;
}

#IMAGE73 > .ladi-image > .ladi-image-background {
    background-image: url('../images/frame-7-20240313113510-pk7x3.png');
    background-size: cover;
}

#IMAGE75,
#IMAGE75 > .ladi-image > .ladi-image-background {
    width: 27px;
    height: 26px;
}

#IMAGE75 {
    top: 22px;
    left: 21.5px;
}

#IMAGE72 > .ladi-image > .ladi-image-background {
    background-image: url('../images/frame-4-20240216094817-cpugp.png');
    background-size: cover;
}

#IMAGE74 {
    top: 19px;
    left: 19px;
}

#IMAGE74,
#IMAGE74 > .ladi-image > .ladi-image-background {
    width: 32px;
    height: 32px;
}

#IMAGE74,
#IMAGE74 > .ladi-image > .ladi-image-background {
    width: 32px;
    height: 32px;
    background-image: url('../images/facebook_messenger_logo_2018-1-20240216094817-ckct0.png');
}

/* #form-submit select[data-selected=""] {
    color: rgb(111, 108, 108);
} */

#livingPlace option {
    color: black;
}

.empty {
    color: #6c757d;
}


.toggle-text {
    cursor: pointer;
    color: darkgrey;
    /* Bootstrap primary color */
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
}


.card-cong-nhan {
    background-image: url(../images/congnhan_bg.png);
    background-position: center;
    background-size: cover;
}

.card-cong-nhan .card-body {
    height: 80px;
    color: #E7252B;
    font-weight: bold;
}

.card-cong-nhan .px-3 {
    height: 90px;
}

.card-kh-nha-nuoc {
    background-image: url(../images/canbo.png);
    background-position: center;
    background-size: cover;
}

.card-kh-nha-nuoc .card-body {
    height: 80px;
}

.card-kh-nha-nuoc .px-3 {
    height: 90px;
}

.card-kh-phu-nu {
    background-image: url(../images/khachangnu.png);
    background-position: center;
    background-size: cover;
}

.card-kh-phu-nu .card-body {
    height: 80px;
}

.card-kh-phu-nu .px-3 {
    height: 90px;
}

.card-kh-bhnt {
    background-image: url(../images/khachhangbaohiem.png);
    background-position: center;
    background-size: cover;
}

.card-kh-bhnt .card-body {
    height: 80px;
}

.card-kh-bhnt .px-3 {
    height: 90px;
}

.card-kh-tctd {
    background-image: url(../images/khachhangcokhoanvaytctd.png);
    background-position: center;
    background-size: cover;
}

.card-kh-tctd .card-body {
    height: 80px;
}

.card-kh-tctd .px-3 {
    height: 90px;
}


.card-kh-chukinhdoanh {
    background-image: url(../images/chukinhdoanh.png);
    background-position: center;
    background-size: cover;
}

.card-kh-chukinhdoanh .card-body {
    height: 80px;
}

.card-kh-chukinhdoanh .px-3 {
    height: 90px;
}

.card-border-left {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.card-border-right {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-header-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    /* Adjust as needed */
    background-color: #FFF;
    /* Light gray for contrast */
    position: relative;
}

.card-header-img img {
    width: 120px;
    /* Adjust size of the image */
    height: 120px;
    /* object-fit: cover; */

}

.card-header-img-loan-process {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    /* Adjust as needed */
    background-color: #FFF;
    /* Light gray for contrast */
    position: relative;
}

.card-header-img-loan-process img {
    width: 70px;
    /* Adjust size of the image */
    height: 70px;
    /* object-fit: cover; */

}

.card-loan-process {
    border-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.card-loan-process_body {
    border: none !important;
}

.card-customer-comment {
    border-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.card-customer-comment_body {
    border: none !important;
}

.question-info a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

/*.question-item {*/
/*    border-bottom: 1px solid;*/
/*    margin-bottom: 10px;*/
/*    width: 80% !important;*/
/*    margin-left: 150px !important;*/
/*}*/

.question-item-row {
    position: relative;
}

.section-title_line {
    width: 83px;
    height: 5px !important;
    background: red;
    color: red;
    opacity: 1 !important;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

.text-red {
    color: #E7252B !important;
}

.font-title-card {
    font-size: 1.5rem;
}

.carousel-control-next-icon {
    background-image: url(../images/next.png) !important;
    width: 2.5rem !important;
    height: 2.5rem !important;

}

.carousel-control-prev-icon {
    background-image: url(../images/prev.png) !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.carousel-inner-cus {
    position: relative;
    width: 100%;
}

.qoute {
    position: absolute;
    top: -60px;
}

.qoute-mobile {
    position: absolute;
    top: -60px;
    left: 60%;
    transform: translateX(-50%);
}

select.form-select:required:invalid {
    color: #6c757d;
}

select.form-select option {
    color: #000000;
}